@media screen and (max-width: 1200px) {
  body {
    padding: 0;
  }

  .desktop-nav {
    display: none;
  }

  .hamburger-nav {
    display: flex;
  }
}

@media screen and (max-width: 900px) {
  .container {
    box-sizing: border-box;
  }

  .about {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 5fr;
    grid-template-areas:
      "nav"
      "image"
      "info";
  }

  .about-info {
    text-align: center;
    margin: 0;
  }

  .about-img {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .skills {
    display: grid;
  }

  .skills-list {
    flex-wrap: wrap;
  }

  .project {
    height: 17.5rem;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  #about-section {
    height: 100svh;
  }

  #skills-section,
  #projects-section,
  #contact-section {
    height: 100lvh;
  }

  .hamburger-menu {
    margin-right: 1rem;
  }

  .about-img {
    margin: 0;
  }

  .project {
    height: 15rem;
    width: 100%;
  }

  .header {
    margin-top: 2rem;
  }

  .skills-subheader {
    align-items: center;
  }
  
  .skills-info {
    margin: 0 1rem;
  }

  .project-img {
    height: 15rem;
    width: 7.5rem;
    object-fit: cover;
    overflow: hidden;
  }

  .contact-info {
    font-size: 1rem;
    gap: .75rem;
    width: 22.5rem;
  }
}

@media screen and (max-width: 400px) {
  .portrait {
    height: 12rem;
    width: 12rem;
  }
}

@media screen and (orientation: landscape) and (max-width: 800px) {
  .about,
  .skills,
  .projects,
  .contact {
    height: 200svh;
    width: 100svw;
  }

  .project {
    height: 12.5rem;
  }
}