/** @format */

@media screen and (max-width: 1400px) {
  .about-info {
    margin: 0 15rem;
  }
}

@media screen and (max-width: 1200px) {
  body {
    padding: 0;
  }

  .desktop-nav {
    display: none;
  }

  .hamburger-nav {
    display: flex;
  }

  .home-info p {
    margin: 0 5rem;
  }

  .about-info {
    margin: 0 10rem;
  }
}

@media screen and (max-width: 900px) {
  .container {
    box-sizing: border-box;
  }

  .home {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 5fr;
    grid-template-areas:
      "nav"
      "image"
      "info";
  }

  .home-info {
    text-align: center;
    margin: 0;
  }

  .home-info p {
    margin: 0 2rem;
  }

  .home-img {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .about {
    display: grid;
  }

  .about-list {
    flex-wrap: wrap;
  }

  .about-info {
    margin: 0 5rem;
  }

  .project-div {
    height: 17.5rem;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .home {
    height: 100svh;
  }

  .about,
  .projects,
  .contact {
    height: 100lvh;
  }

  .hamburger-menu {
    margin-right: 1rem;
  }

  .home-img {
    margin: 0;
  }

  .project-div {
    height: 15rem;
    width: 100%;
  }

  .projects-header {
    margin-top: 2rem;
    /* font-size: 1.2rem; */
  }

  .about-header {
    align-items: center;
  }

  .about-info {
    margin: 0 1rem;
  }

  .project-img {
    height: 15rem;
    width: 7.5rem;
    object-fit: cover;
    overflow: hidden;
  }

  .contact-info {
    font-size: 1rem;
    gap: 1.75rem;
    width: 22.5rem;
  }

  .footer-links {
    gap: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .home-portrait {
    height: 12rem;
    width: 12rem;
  }
}

@media screen and (orientation: landscape) and (max-width: 800px) {
  .home,
  .about,
  .projects,
  .contact {
    height: 200svh;
    width: 100svw;
  }

  .project-div {
    height: 12.5rem;
  }
}
